#main {
    display: grid;
    grid-template-columns: 50vw 50vw;
    grid-template-rows: 20vh 30vh 30vh;
    grid-template-areas: 
        "title title"
        "p-txt p-img"
        "c-txt c-img";
    grid-gap: 5vh;
    font-size: 5vh;
}
#title {
    grid-area: title;
    text-align: center;
    margin-top: 5vh;
    font-size: 6vw;
}
#p-txt {
    grid-area: p-txt;

}
#p-img {
    grid-area: p-img;
    background-image: url(./img/phoebe-one.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
#c-txt {
    grid-area: c-txt;

}
#c-img {
    grid-area: c-img;
    background-image: url(./img//caroal.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}