#main {
    display: grid;
    width: 100%;
    grid-template-columns:repeat(1fr 3);
    grid-template-rows: 10vh 40vh 20vh;
    grid-template-areas: 
        "title title title"
        "logo-img flag-img motto-img"
        "logo-txt flag-txt motto-txt";
    grid-gap: 5vh;
}
/* .grid-items {
    background-color: aqua;
} */
#title {
    grid-area: title;
    text-align: center;
    font-size: 5vw;
}
#logo-img {
    grid-area: logo-img;
    background-image: url(./img/logo.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
#flag-img {
    grid-area: flag-img;
    background-image: url(./img/flag.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
#motto-img {
    grid-area: motto-img;
    background-image: url(./img/motto.jpg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}
#logo-txt {
    grid-area: logo-txt;
    text-align: center;
    line-height: 20vh;
    font-size: 3vw;
}
#flag-txt {
    grid-area: flag-txt;
    text-align: center;
    line-height: 20vh;
    font-size: 3vw;
}
#motto-txt {
    grid-area: motto-txt;
    text-align: center;
    line-height: 20vh;
    font-size: 3vw;
}