* {
    border-radius: 5px;
}
a:link {
    color: beige;
    text-decoration: none;
}
a:visited {
    color: cadetblue;
}
body {
    background-color: rgb(39, 39, 39);
    color: azure;
    margin: 3%;
}
#menu {
    display: flex;
    width: 100%;
}
.menu-item {
    display: inline-block;
    width: 18%;
    height: 50px;
    /* background-color: aqua; */
    text-align: center;
    line-height: 50px;
    font-size: 1vw;
    border-bottom: solid;
    border-top: solid;;
    border-right: solid;
    border-radius: 0%;
    font-size: 3vh;
}
.menu-icon {
    background-image: url(./img/home.png);
    background-size:contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 50px;
    height: 50px;
    border: solid white;
    border-radius: 0%;
}
.menu-icon a:visited {
    color: aliceblue;
}
#footer {
    text-align: center;
    margin-top: 15vh;
}