#main {
    display: grid;
    grid-template-columns: 33vw 33vw 33vw;
    grid-template-rows: 15vh 30vh 10vh 30vh 10vh;
    grid-template-areas: 
        "title title title"
        "me-img mi-img c-img"
        "me-txt mi-txt c-txt"
        "r-img f-img g-img"
        "r-txt f-txt g-txt";
    text-align: center;
    line-height: 10vh;
    margin-top: 5vh;
}
#title {
    grid-area: title;
    font-size: 5vw;
}
#me-img {
    grid-area: me-img;
    background-image: url(./img/melody.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
#me-txt {
    grid-area: me-txt;
}
#mi-img {
    grid-area: mi-img;
    background-image: url(./img/misha.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
#mi-txt {
    grid-area: mi-txt;
}
#c-img {
    grid-area: c-img;
    background-image: url(./img/connor.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
#c-txt {
    grid-area: c-txt;
}
#r-img {
    grid-row: r-img;
    background-image: url(./img/ray.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
#r-txt {
    grid-area: r-txt;
}
#f-img {
    grid-area: f-img;
    background-image: url(./img/frank.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
#f-txt {
    grid-area: f-txt;
}
#g-img {
    grid-area: g-img;
    background-image: url(./img/grant.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
#g-txt {
    grid-area: g-txt;
}