* {
    border-radius: 3vh;
}
a:link {
    text-decoration: none;
}
body {
    /* margin: 5vh; */
    text-align: center; 
    word-wrap: normal;
    background-color: lightskyblue;
    font-family: Bradley Hand;
}
.elements {
    display: inline-block;
    width: 10vw;
    background-color: aqua;
    text-align: center;
    font-size: 5vh;
    line-height: 10vh;
    grid-gap: 5vh;
    border-radius: 0%;
}
#hp-icon-div {
    /* height: 10vh; */
    color: aqua;
    background-color:aqua;

}
#hp-icon {
    background-image: url(./img/home.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    color: rgba(0, 0, 0, 0);
}
#menu {
    text-align: center;
    grid-area: menu;
}
#main {
    display: grid;
    grid-template-columns: 45vw 50vw;
    grid-template-rows: 15vh 50vh 85vh;
    grid-template-areas: 
        "menu menu"
        "one two"
        "three two";
    /* text-align: center; */
    width: 100%;
    grid-gap: 5vh;
}
#block-one {
    background-color: white;
    grid-area: one;
    font-size: 4.5vh;
}
#block-two {
    background-color: white;
    grid-area: two;
    font-size: 4.5vh;
    padding: 1vh;
}
#block-three {
    background-color: white;
    grid-area: three;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
#hp-main {
    display: grid;
    grid-template-columns: repeat (3 20vw);
    grid-template-rows: repeat (3 20vh);
    grid-template-areas: 
        "title title title"
        "connor frank grant"
        "melody misha ray";
    grid-gap: 3vh;
}
#title {
    grid-area: title;
    font-size: 10vh;
    margin: 3vh;
}
#connor {
    grid-area: connor;
}
#frank {
    grid-area: frank;
}
#grant {
    grid-area: grant;
}
#melody {
    grid-area: melody;
}
#misha {
    grid-area: misha;
}
#ray {
    grid-area: ray;
}
.img {
    width: 35vh;
}
.txt {
    font-size: 3vh;
}
#footer {
    margin: 5vh;
    text-align: center;
    font-size: 3vh;
}