#main {
    display: grid;
    grid-template-columns: 40vw 60vw;
    grid-template-rows: 10vh 35vh 35vh 5vh;
    grid-template-areas: 
        "title title"
        "txt-one school-img"
        "txt-two depa-img"
        "contact contact";
    grid-gap: 5vh;
    margin-top: 5vh;
}
#title {
    grid-area: title;
    text-align: center;
    font-size: 5vw;
}
#txt-one {
    grid-area: txt-one;
    font-size: 2vw;
    line-height: 20vh;
}
#school-img {
    grid-area: school-img;
    background-image: url(./img/school-img.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}
#txt-two {
    grid-area: txt-two;
    font-size: 2vw;
    line-height: 20vh;
}
#depa-img {
    grid-area: depa-img;
    background-image: url(./img/depa-img.JPG);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}
#contact {
    grid-area: contact;
    text-align: center;
    font-size: 4vh;
    line-height: 0%;
    margin-top: 5vh;
}